{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        {% block css %}{% endblock css %}
    </head>
    <body>
        {% comment %} Navbar {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
            <div class="container-fluid ">
                <a href="{% url 'index' %}" class="navbar-brand">Auction</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarItems">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if request.resolver_match.url_name == 'index' %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">Home</a>
                            </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            {% if request.resolver_match.url_name == 'create' %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'create' %}">Create</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create' %}">Create</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                            </li>
                        {% else %}
                            {% if request.resolver_match.url_name == 'login' %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                                </li>
                            {% endif %}
                            {% if request.resolver_match.url_name == 'register' %}
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search listing" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                        <p id="login-name" class="my-auto mx-3">Signed in as <strong>{{ user.username }}</strong>.</p>
                    {% else %}
                        <p id="login-name" class="my-auto mx-3">Not logged in</strong>.</p>
                    {% endif %}
                  </div>
            </div>
        </nav>
        {% comment %} Content {% endcomment %}        
        {% block body %}
        {% endblock %}
        {% comment %} Scripts {% endcomment %}
        {% block script %}
        {% endblock script %}
        <script src="https://kit.fontawesome.com/a64458514f.js" crossorigin="anonymous"></script>
    </body>
</html>
