{% extends "auctions/layout.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'auctions/listing.css' %}">
{% endblock css %}

{% block body %}
    <div id="listing-container">
        <div id="head-container">
            <img id="image-bg" src="{{ listing.image_url }}" alt="{{ listing.name }}">
            <div id="overlay" class="p-3">
                <div id="title-container">
                    <h1 id="listing-title" class="text-light">{{ listing.name }}</h1>
                </div>
                <div id="flex-empty"></div>
                {% if user.is_authenticated %}
                    {% comment %} Category modal {% endcomment %}
                    {% if listing.lister == request.user %}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn me-3 btn-success" data-bs-toggle="modal" data-bs-target="#editModal">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                <form class="modal-content" action="{% url 'edit' pk=listing.pk %}" method="post" id="form">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Edit Listing</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid center-container p-3">
                                            <div class="center-container">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="mb-3 w-100">
                                                        <label for="{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                        {{ field }}
                                                        {% if field.error_message %}
                                                            <div id="{{ field.name }}Error" class="form-text text-danger">{{ field.error_message }}</div>
                                                        {% else %}
                                                            <div id="{{ field.name }}Help" class="form-text">{{ field.help_text }}</div>
                                                        {% endif %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                    {% comment %} Remove Watchlist {% endcomment %}
                    {% if is_watchlist %}
                        <button id="remove_watchlist" class="btn me-2 btn-primary">
                            <i class="bi bi-bookmark-star"></i>
                        </button>
                    {% comment %} Add Watchlist {% endcomment %}
                    {% else %}
                        <button id="add_watchlist" class="btn me-2 btn-secondary">
                            <i class="bi bi-bookmark-x"></i>
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div id="body-container" class="mt-3">
            <div id="listing-detail" class="mx-5">
                <div id="links" class="h6">
                    <i class="fa-solid fa-house" class=""></i>
                    <i class="fa-solid fa-greater-than" class=""></i>
                    <a href="{% url 'index' %}" class="text-body">listing</a>
                    <i class="fa-solid fa-greater-than" class=""></i>
                    <a href="{{ listing.get_absolute_url }}" class="text-body">{{ listing.name }}</a>
                </div>
                <h1 class="">{{ listing.name }}</h1>
                <h6 class="text-muted">Listed by {{ listing.lister }} on {{ listing.datetime }}</h6>
                <img id="listing-image" src="{{ listing.image_url }}" alt="{{ listing.name }}">
                {{ listing.description|linebreaks }}
            </div>
            <div id="sidebar-detail">
                <div class="container-fluid m-0 p-0">
                    <h4>Categories</h4>
                    <div id="category-container" class="overflow-auto">
                        {% if request.user == listing.lister %}
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#categoryModal">
                                <i class="bi bi-plus"></i>
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="categoryModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="categoryModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                    <form class="modal-content" id="category-form">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="categoryModalLabel">Add Category</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid center-container p-3">
                                                <div class="center-container">
                                                    {% csrf_token %}
                                                    <div class="container-fluid center-container p-3">
                                                        <div class="center-container">
                                                            {% csrf_token %}
                                                            <div class="w-100">
                                                                <input type="hidden" name="listing_id" id="listing_id" value="{{ listing.pk }}">
                                                                <label for="category_name" class="form-label">Category name</label>
                                                                <input type="text" class="form-control" id="category_name" name="category_name">
                                                                <div id="category_nameHelp" class="form-text">Add the category name</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="bids-container" class="container-fluid overflow-auto m-0 p-0 mt-3">
                    <h4>Bids</h4>
                    <h6>Starting bid: {{ listing.usd_formatted }}</h6>
                </div>
                <form id="bid-form" class="container-fluid m-0 p-0 mt-3">
                    {% for field in bid_form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Bid</button>
                </form>
                <div id="bid-message-container" class="container-fluid m-0 p-0 mt-3"></div>
                <div id="comments-container" class="container-fluid overflow-auto m-0 p-0 my-3">
                    <h4>Comments</h4>
                </div>
                <form id="comment-form" class="container-fluid m-0 p-0 mt-3">
                    {% for field in comment_form %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">comment</button>
                </form>
                <div id="comment-message-container" class="container-fluid m-0 p-0 my-3"></div>
            </div>
        </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Fetch the categories.html file using AJAX
            function fetchCategories() {
                fetch('{% url 'get_category' pk=listing.pk %}')
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(function(data) {
                    $('.category-list').remove();
                    $('#category-container').append(data);
                })
                .catch(function(error) {
                    console.error('Error fetching the page:', error);
                });
            }
        
            fetchCategories();
        
            // Add category on submit
            $("#category-form").submit(function() {
                var category_name = $("#category_name").val();
                var listing_id = $("#listing_id").val();
        
                if (!category_name || !listing_id) {
                    console.error("Category name or listing ID is missing.");
                    return false;
                }
        
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_category' %}",
                    data: {
                        'listing_id': listing_id,
                        'category_name': category_name,
                        'csrfmiddlewaretoken': "{{ csrf_token }}"
                    },
                    success: function() {
                        $('#categoryModal').modal('hide');
                        $("#category_name").val("");
                        fetchCategories();
                    }
                });
                return false;
            });
        
            // Add Watchlist AJAX
            $('#add_watchlist').click(function(){
                var button = $(this);
                button.blur();
                $.ajax({
                    type: "POST",
                    url: "{% url 'add_watchlist' %}",
                    data: {
                        'listing_id': "{{ listing.pk }}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}"
                    },
                    success: function() {
                        button.toggleClass("btn-secondary btn-primary");
                        button.html('<i class="bi bi-bookmark-star"></i>');
                        button.attr("id", "remove_watchlist");
        
                        button.blur();
                    }
                });
            });
        
            // Remove Watchlist AJAX
            $('#remove_watchlist').click(function(){
                var button = $(this);
                button.blur();
                $.ajax({
                    type: "POST",
                    url: "{% url 'remove_watchlist' %}",
                    data: {
                        'listing_id': "{{ listing.pk }}",
                        'csrfmiddlewaretoken': "{{ csrf_token }}"
                    },
                    success: function() {
                        button.toggleClass("btn-secondary btn-primary");
                        button.html('<i class="bi bi-bookmark-x"></i>');
                        button.attr("id", "add_watchlist");
                    }
                });
            });
        
            // Fetch Bids Ajax
            function fetchBids() {
                fetch('{% url 'get_bid' pk=listing.pk %}')
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(function(bids) {
                    $('.bid-text').remove();
                    $('#bids-container').append(bids);
                })
                .catch(function(error) {
                    console.error('Error fetching the page:', error);
                });
            };
        
            fetchBids();
            
            // bid form ajax
            $("#bid-form").submit(function(e) {
                e.preventDefault();   
                bid = $("#bid_input").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'bid' pk=listing.pk %}",
                    data: {
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'bid': bid
                    },
                    success: function(response) {
                        $("#bid_input").val("");
                        $("#bid-message-container").empty();
                        $("#bid-message-container").append(response);
                        fetchBids();
                    }
                });
            });

            // Fetch comment ajax
            function fetchComment() {
                fetch('{% url 'get_comment' pk=listing.pk %}')
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(function(comment) {
                    $('.comment-body').remove();
                    $('#comments-container').append(comment);
                })
                .catch(function(error) {
                    console.error('Error fetching the page:', error);
                });
            };

            fetchComment();

            // Comment form ajax
            $("#comment-form").submit(function(e) {
                e.preventDefault();   
                comment = $("#comment_input").val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'comment' pk=listing.pk %}",
                    data: {
                        'csrfmiddlewaretoken': "{{ csrf_token }}",
                        'comment': comment
                    },
                    success: function(response) {
                        $("#comment_input").val("");
                        $("#comment-message-container").empty();
                        $("#comment-message-container").append(response);
                        fetchComment();
                    }
                });
            });
        });        
    </script>
{% endblock script %}
